NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clkin" = PERIOD "clk" 20 ns HIGH 50 %;
NET "clk"  LOC = "B8";
NET "rst"  LOC = "G12";

NET "PS2_CLK" LOC = "B1";
NET "PS2_DATA" LOC= "C3";

NET "PS2_CLK" CLOCK_DEDICATED_ROUTE = FALSE;

# LED
NET "leds<0>" LOC = "M5" ;
NET "leds<1>" LOC = "M11";
NET "leds<2>" LOC = "P7" ;
NET "leds<3>" LOC = "P6" ;
NET "leds<4>" LOC = "N5" ;
NET "leds<5>" LOC = "N4" ;
NET "leds<6>" LOC = "P4" ;
NET "leds<7>" LOC = "G1" ;



# Pin assignment for SWs
#NET "sw<7>" LOC = "N3";  # Bank = 2, Signal name = SW7
#NET "sw<6>" LOC = "E2";  # Bank = 3, Signal name = SW6
#NET "sw<5>" LOC = "F3";  # Bank = 3, Signal name = SW5
#NET "sw<4>" LOC = "G3";  # Bank = 3, Signal name = SW4
#NET "sw<3>" LOC = "B4";  # Bank = 3, Signal name = SW3
#NET "sw<2>" LOC = "K3";  # Bank = 3, Signal name = SW2
#NET "sw<1>" LOC = "L3";  # Bank = 3, Signal name = SW1
NET "par_we" LOC = "A7"; # Bank = 2, Signal name = SW0

#7-segment display
NET "sevenseg<0>" LOC = "L14";
NET "sevenseg<1>" LOC = "H12";
NET "sevenseg<2>" LOC = "N14";
NET "sevenseg<3>" LOC = "N11";
NET "sevenseg<4>" LOC = "P12";
NET "sevenseg<5>" LOC = "L13";
NET "sevenseg<6>" LOC = "M12";

NET "dp" LOC = "N13";

NET "anodes<3>" LOC = "K14";
NET "anodes<2>" LOC = "M13";
NET "anodes<1>" LOC = "J12";
NET "anodes<0>" LOC = "F12";
