//! **************************************************************************
// Written by: Map P.28xd on Mon Dec 10 15:30:43 2018
//! **************************************************************************

SCHEMATIC START;
COMP "dp" LOCATE = SITE "N13" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "rst" LOCATE = SITE "G12" LEVEL 1;
COMP "anodes<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "anodes<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "anodes<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "anodes<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "G1" LEVEL 1;
COMP "sevenseg<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "sevenseg<1>" LOCATE = SITE "H12" LEVEL 1;
COMP "sevenseg<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "sevenseg<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "sevenseg<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "sevenseg<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "sevenseg<6>" LOCATE = SITE "M12" LEVEL 1;
COMP "PS2_DATA" LOCATE = SITE "C3" LEVEL 1;
COMP "PS2_CLK" LOCATE = SITE "B1" LEVEL 1;
PIN PS2_CLK_pin<0> = BEL "PS2_CLK" PINNAME PAD;
PIN "PS2_CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
PIN prog/ram/Mram_mem.A_pins<10> = BEL "prog/ram/Mram_mem.A" PINNAME CLKA;
PIN prog/ram/Mram_mem.B_pins<10> = BEL "prog/ram/Mram_mem.B" PINNAME CLKB;
TIMEGRP clk = BEL "controller/carry" BEL "controller/overflow" BEL
        "controller/negative" BEL "controller/regB_0" BEL "controller/regB_1"
        BEL "controller/regB_2" BEL "controller/regB_3" BEL
        "controller/regB_4" BEL "controller/regB_5" BEL "controller/regB_6"
        BEL "controller/regB_7" BEL "controller/regB_8" BEL
        "controller/regB_9" BEL "controller/regB_10" BEL "controller/regB_11"
        BEL "controller/regB_12" BEL "controller/regB_13" BEL
        "controller/regB_14" BEL "controller/regB_15" BEL "controller/regB_16"
        BEL "controller/regB_17" BEL "controller/regB_18" BEL
        "controller/regB_19" BEL "controller/regB_20" BEL "controller/regB_21"
        BEL "controller/regB_22" BEL "controller/regB_23" BEL
        "controller/regB_24" BEL "controller/regB_25" BEL "controller/regB_26"
        BEL "controller/regB_27" BEL "controller/regB_28" BEL
        "controller/regB_29" BEL "controller/regB_30" BEL "controller/regB_31"
        BEL "ps2/rxtimeout_15" BEL "ps2/rxtimeout_14" BEL "ps2/rxtimeout_13"
        BEL "ps2/rxtimeout_12" BEL "ps2/rxtimeout_11" BEL "ps2/rxtimeout_10"
        BEL "ps2/rxtimeout_9" BEL "ps2/rxtimeout_8" BEL "ps2/rxtimeout_7" BEL
        "ps2/rxtimeout_6" BEL "ps2/rxtimeout_5" BEL "ps2/rxtimeout_4" BEL
        "ps2/rxtimeout_3" BEL "ps2/rxtimeout_2" BEL "ps2/rxtimeout_1" BEL
        "ps2/rxtimeout_0" BEL "ps2/state_FSM_FFd1" BEL "ps2/data_out_pre_7"
        BEL "ps2/data_out_pre_6" BEL "ps2/data_out_pre_5" BEL
        "ps2/data_out_pre_4" BEL "ps2/data_out_pre_3" BEL "ps2/data_out_pre_2"
        BEL "ps2/data_out_pre_1" BEL "ps2/data_out_pre_0" BEL "ps2/rxdata_7"
        BEL "ps2/rxdata_6" BEL "ps2/rxdata_5" BEL "ps2/rxdata_4" BEL
        "ps2/rxdata_3" BEL "ps2/rxdata_2" BEL "ps2/rxdata_1" BEL
        "ps2/rxdata_0" BEL "ps2/rxregister_10" BEL "ps2/rxregister_9" BEL
        "ps2/rxregister_8" BEL "ps2/rxregister_7" BEL "ps2/rxregister_6" BEL
        "ps2/rxregister_5" BEL "ps2/rxregister_4" BEL "ps2/rxregister_3" BEL
        "ps2/rxregister_2" BEL "ps2/rxregister_1" BEL "ps2/rxregister_0" BEL
        "ps2/data_out_7" BEL "ps2/data_out_6" BEL "ps2/data_out_5" BEL
        "ps2/data_out_4" BEL "ps2/data_out_3" BEL "ps2/data_out_2" BEL
        "ps2/data_out_1" BEL "ps2/data_out_0" BEL "ps2/clksr_1" BEL
        "ps2/clksr_0" BEL "seven_seg_display/refresh_counter_19" BEL
        "seven_seg_display/refresh_counter_18" BEL
        "seven_seg_display/refresh_counter_17" BEL
        "seven_seg_display/refresh_counter_16" BEL
        "seven_seg_display/refresh_counter_15" BEL
        "seven_seg_display/refresh_counter_14" BEL
        "seven_seg_display/refresh_counter_13" BEL
        "seven_seg_display/refresh_counter_12" BEL
        "seven_seg_display/refresh_counter_11" BEL
        "seven_seg_display/refresh_counter_10" BEL
        "seven_seg_display/refresh_counter_9" BEL
        "seven_seg_display/refresh_counter_8" BEL
        "seven_seg_display/refresh_counter_7" BEL
        "seven_seg_display/refresh_counter_6" BEL
        "seven_seg_display/refresh_counter_5" BEL
        "seven_seg_display/refresh_counter_4" BEL
        "seven_seg_display/refresh_counter_3" BEL
        "seven_seg_display/refresh_counter_2" BEL
        "seven_seg_display/refresh_counter_1" BEL
        "seven_seg_display/refresh_counter_0" BEL "seven_seg_display/cnt_22"
        BEL "seven_seg_display/cnt_21" BEL "seven_seg_display/cnt_20" BEL
        "seven_seg_display/cnt_19" BEL "seven_seg_display/cnt_18" BEL
        "seven_seg_display/cnt_17" BEL "seven_seg_display/cnt_16" BEL
        "seven_seg_display/cnt_15" BEL "seven_seg_display/cnt_14" BEL
        "seven_seg_display/cnt_13" BEL "seven_seg_display/cnt_12" BEL
        "seven_seg_display/cnt_11" BEL "seven_seg_display/cnt_10" BEL
        "seven_seg_display/cnt_9" BEL "seven_seg_display/cnt_8" BEL
        "seven_seg_display/cnt_7" BEL "seven_seg_display/cnt_6" BEL
        "seven_seg_display/cnt_5" BEL "seven_seg_display/cnt_4" BEL
        "seven_seg_display/cnt_3" BEL "seven_seg_display/cnt_2" BEL
        "seven_seg_display/cnt_1" BEL "seven_seg_display/cnt_0" BEL
        "seven_seg_display/LED_out_6" BEL "seven_seg_display/LED_out_5" BEL
        "seven_seg_display/LED_out_4" BEL "seven_seg_display/LED_out_3" BEL
        "seven_seg_display/LED_out_2" BEL "seven_seg_display/LED_out_1" BEL
        "seven_seg_display/LED_out_0" BEL "seven_seg_display/LED_BCD_3" BEL
        "seven_seg_display/LED_BCD_2" BEL "seven_seg_display/LED_BCD_1" BEL
        "seven_seg_display/LED_BCD_0" BEL "seven_seg_display/Anode_Activate_0"
        BEL "seven_seg_display/displayed_number1_15" BEL
        "seven_seg_display/displayed_number1_14" BEL
        "seven_seg_display/displayed_number1_13" BEL
        "seven_seg_display/displayed_number1_12" BEL
        "seven_seg_display/displayed_number1_11" BEL
        "seven_seg_display/displayed_number1_10" BEL
        "seven_seg_display/displayed_number1_9" BEL
        "seven_seg_display/displayed_number1_8" BEL
        "seven_seg_display/displayed_number1_7" BEL
        "seven_seg_display/displayed_number1_6" BEL
        "seven_seg_display/displayed_number1_5" BEL
        "seven_seg_display/displayed_number1_4" BEL
        "seven_seg_display/displayed_number1_3" BEL
        "seven_seg_display/displayed_number1_2" BEL
        "seven_seg_display/displayed_number1_1" BEL
        "seven_seg_display/displayed_number1_0" BEL
        "regf/Mram_reg_232.SLICEM_F" BEL "regf/Mram_reg_232.SLICEM_G" BEL
        "regf/Mram_reg_231.SLICEM_F" BEL "regf/Mram_reg_231.SLICEM_G" BEL
        "regf/Mram_reg_230.SLICEM_F" BEL "regf/Mram_reg_230.SLICEM_G" BEL
        "regf/Mram_reg_229.SLICEM_F" BEL "regf/Mram_reg_229.SLICEM_G" BEL
        "regf/Mram_reg_228.SLICEM_F" BEL "regf/Mram_reg_228.SLICEM_G" BEL
        "regf/Mram_reg_227.SLICEM_F" BEL "regf/Mram_reg_227.SLICEM_G" BEL
        "regf/Mram_reg_226.SLICEM_F" BEL "regf/Mram_reg_226.SLICEM_G" BEL
        "regf/Mram_reg_225.SLICEM_F" BEL "regf/Mram_reg_225.SLICEM_G" BEL
        "regf/Mram_reg_224.SLICEM_F" BEL "regf/Mram_reg_224.SLICEM_G" BEL
        "regf/Mram_reg_223.SLICEM_F" BEL "regf/Mram_reg_223.SLICEM_G" BEL
        "regf/Mram_reg_222.SLICEM_F" BEL "regf/Mram_reg_222.SLICEM_G" BEL
        "regf/Mram_reg_221.SLICEM_F" BEL "regf/Mram_reg_221.SLICEM_G" BEL
        "regf/Mram_reg_220.SLICEM_F" BEL "regf/Mram_reg_220.SLICEM_G" BEL
        "regf/Mram_reg_219.SLICEM_F" BEL "regf/Mram_reg_219.SLICEM_G" BEL
        "regf/Mram_reg_218.SLICEM_F" BEL "regf/Mram_reg_218.SLICEM_G" BEL
        "regf/Mram_reg_217.SLICEM_F" BEL "regf/Mram_reg_217.SLICEM_G" BEL
        "regf/Mram_reg_216.SLICEM_F" BEL "regf/Mram_reg_216.SLICEM_G" BEL
        "regf/Mram_reg_215.SLICEM_F" BEL "regf/Mram_reg_215.SLICEM_G" BEL
        "regf/Mram_reg_214.SLICEM_F" BEL "regf/Mram_reg_214.SLICEM_G" BEL
        "regf/Mram_reg_213.SLICEM_F" BEL "regf/Mram_reg_213.SLICEM_G" BEL
        "regf/Mram_reg_212.SLICEM_F" BEL "regf/Mram_reg_212.SLICEM_G" BEL
        "regf/Mram_reg_211.SLICEM_F" BEL "regf/Mram_reg_211.SLICEM_G" BEL
        "regf/Mram_reg_210.SLICEM_F" BEL "regf/Mram_reg_210.SLICEM_G" BEL
        "regf/Mram_reg_29.SLICEM_F" BEL "regf/Mram_reg_29.SLICEM_G" BEL
        "regf/Mram_reg_28.SLICEM_F" BEL "regf/Mram_reg_28.SLICEM_G" BEL
        "regf/Mram_reg_27.SLICEM_F" BEL "regf/Mram_reg_27.SLICEM_G" BEL
        "regf/Mram_reg_26.SLICEM_F" BEL "regf/Mram_reg_26.SLICEM_G" BEL
        "regf/Mram_reg_25.SLICEM_F" BEL "regf/Mram_reg_25.SLICEM_G" BEL
        "regf/Mram_reg_24.SLICEM_F" BEL "regf/Mram_reg_24.SLICEM_G" BEL
        "regf/Mram_reg_23.SLICEM_F" BEL "regf/Mram_reg_23.SLICEM_G" BEL
        "regf/Mram_reg_22.SLICEM_F" BEL "regf/Mram_reg_22.SLICEM_G" BEL
        "regf/Mram_reg_21.SLICEM_F" BEL "regf/Mram_reg_21.SLICEM_G" BEL
        "ps2/state_FSM_FFd2" BEL "seven_seg_display/Anode_Activate_3" BEL
        "seven_seg_display/Anode_Activate_2" BEL
        "seven_seg_display/Anode_Activate_1" BEL "controller/pc_0" BEL
        "controller/pc_1" BEL "controller/pc_2" BEL "controller/pc_3" BEL
        "controller/pc_4" BEL "controller/pc_5" BEL "controller/pc_6" BEL
        "controller/pc_7" BEL "controller/regA_0" BEL "controller/regA_1" BEL
        "controller/regA_2" BEL "controller/regA_3" BEL "controller/regA_4"
        BEL "controller/regA_5" BEL "controller/regA_6" BEL
        "controller/regA_7" BEL "controller/regA_8" BEL "controller/regA_9"
        BEL "controller/regA_10" BEL "controller/regA_11" BEL
        "controller/regA_12" BEL "controller/regA_13" BEL "controller/regA_14"
        BEL "controller/regA_15" BEL "controller/regA_16" BEL
        "controller/regA_17" BEL "controller/regA_18" BEL "controller/regA_19"
        BEL "controller/regA_20" BEL "controller/regA_21" BEL
        "controller/regA_22" BEL "controller/regA_23" BEL "controller/regA_24"
        BEL "controller/regA_25" BEL "controller/regA_26" BEL
        "controller/regA_27" BEL "controller/regA_28" BEL "controller/regA_29"
        BEL "controller/regA_30" BEL "controller/regA_31" PIN
        "prog/ram/Mram_mem.A_pins<10>" PIN "prog/ram/Mram_mem.B_pins<10>" BEL
        "FPGA_leds/Mshreg_leds_6/SRL16E" BEL "FPGA_leds/leds_6" BEL
        "ps2/Mshreg_datasr_1/SRL16E" BEL "ps2/datasr_1" BEL
        "FPGA_leds/Mshreg_leds_7/SRL16E" BEL "FPGA_leds/leds_7" BEL
        "FPGA_leds/Mshreg_leds_5/SRL16E" BEL "FPGA_leds/leds_5" BEL
        "FPGA_leds/Mshreg_leds_4/SRL16E" BEL "FPGA_leds/leds_4" BEL
        "FPGA_leds/Mshreg_leds_3/SRL16E" BEL "FPGA_leds/leds_3" BEL
        "FPGA_leds/Mshreg_leds_2/SRL16E" BEL "FPGA_leds/leds_2" BEL
        "FPGA_leds/Mshreg_leds_1/SRL16E" BEL "FPGA_leds/leds_1" BEL
        "FPGA_leds/Mshreg_leds_0/SRL16E" BEL "FPGA_leds/leds_0" BEL
        "clk_BUFGP/BUFG.GCLKMUX" BEL "clk_BUFGP/BUFG";
TS_clkin = PERIOD TIMEGRP "clk" 20 ns HIGH 50%;
SCHEMATIC END;

